# This file is managed by Ansible.

# Defaults for shairport-sync initscript
# sourced by /etc/init.d/shairport-sync
# and /lib/systemd/system/shairport-sync.service
# installed at /etc/default/shairport-sync by the maintainer scripts

# Additional options that are passed to the Daemon.


# NOTICE: Please do *not* include the "-d" or "--daemon" options in DAEMON_ARGS
# above. This option will be added automatically as necessary. Please also note
# that most options are configurable using /etc/shairport-sync.conf.


