{% for card in cards %}
pcm.{{card.name}} {
   type dmix
   ipc_key {{2048 + loop.index0}}
   slave { pcm { type hw; card {{card.name}}; rate {{sample_rate}} }; channels {{ 2 * card.outputs|length }} }
   
}

{% for output in card.outputs %}
pcm.{{output}} {
  type plug
  slave {
    pcm {
      type plug
      slave { pcm {{card.name}} }
      ttable.0.{{loop.index0 * 2}} 1
      ttable.1.{{loop.index0 * 2 + 1}} 1
    }
    channels 2
  }
  route_policy default
}

ctl.{{output}} { type hw; card {{card.name}} }

{% endfor %}
{% endfor %}

{% for output in virtual_outputs %}
pcm.{{output.name}} { type pulse; device {{ output.name }} }
ctl.{{output.name}} { type pulse; device {{ output.name }} }

{% endfor %}

pcm.!default { type plug; pcm {{cards[0].outputs[0]}} }

ctl.!default { type hw; pcm {{cards[0].name}} }
