# Defaults for shairport-sync initscript
# sourced by /etc/init.d/shairport-sync
# and /lib/systemd/system/shairport-sync.service
# installed at /etc/default/shairport-sync by the maintainer scripts

# Additional options that are passed to the Daemon.
DAEMON_ARGS="-m pa"
DAEMON_ARGS_ARRAY=( {% set port = namespace(value=5000) %}
{% for card in cards %}
{% for sink in card.outputs %}
" -a {{sink}} -p {{port.value}} -- {{sink}}" \
{% set port.value = port.value + 1 %}
{% endfor %}
{% endfor %}
{% for sink in virtual_outputs %}
"-a {{sink.name}} -p {{port.value}} -- {{sink.name}}" \
{% set port.value = port.value + 1 %}
{% endfor %}
)
# NOTICE: Please do *not* include the "-d" or "--daemon" options in DAEMON_ARGS
# above. This option will be added automatically as necessary. Please also note
# that most options are configurable using /etc/shairport-sync.conf.


